<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>MK REINBURSEMENTS</title>


<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
<link rel="stylesheet" href="./css/template.css">

</head>
<body style = "background-color : orange;">

	<!-- Navbar -->
	<nav class="navbar navbar-expand navbar-dark bg-dark static-top"
		id="navbar"></nav>

	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="sidebar navbar-nav" id="sidebar">
			<li class="nav-item">
				<a class="nav-link" href="managerhome"> 
					<i class="fas fa-fw fa-tachometer-alt"></i> 
					<span>Dashboard</span>
				</a>
			</li>
			<li class="nav-item active" >
				<a class="nav-link" href="managerminion">
					<i class="fa fa-users"></i> 
					<span>Employees</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="logout"> 
					<i class="fas fa-sign-out-alt"></i> 
					<span>Logout</span>
				</a>
			</li>
		</ul>

		<div id="content-wrapper">

			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
					<li class="breadcrumb-item active">Overview</li>
				</ol>
				<div class="card mb-3">
					<div class="card-header" style="font-size: 40px;">
						<i class="fas fa-table"></i> Employee Table
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover" id="employeeTable"
								cellspacing="0">
								<thead>
									<tr>
										<th scope="col">Employee Id</th>
										<th scope="col">First Name</th>
										<th scope="col">Last Name</th>
										<th scope="col">Address</th>
									</tr>
								</thead>
								<tbody id="requestTableBody">

								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script src="Scripts/Navbar.js"></script>
	<script src="Scripts/ManagerJS/ManagerMinion.js"></script>

</body>
</html>