<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  
  <display-name>EmployeeReimbursementSystem</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.proj.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeHomeServlet</display-name>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <servlet-class>com.proj.servlets.employee.EmployeeHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <url-pattern>/employeehome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRequestServlet</display-name>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <servlet-class>com.proj.servlets.employee.SubmitRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <url-pattern>/requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.proj.servlets.manager.req.ManagerRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/managerallReqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingRequestServlet</display-name>
    <servlet-name>PendingRequestServlet</servlet-name>
    <servlet-class>com.proj.servlets.manager.req.ManagerPendingRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingRequestServlet</servlet-name>
    <url-pattern>/managerpendingReqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolvedRequestServlet</display-name>
    <servlet-name>ResolvedRequestServlet</servlet-name>
    <servlet-class>com.proj.servlets.manager.req.ManagerResolvedRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolvedRequestServlet</servlet-name>
    <url-pattern>/managerresolvedReqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerHomeServlet</display-name>
    <servlet-name>ManagerHomeServlet</servlet-name>
    <servlet-class>com.proj.servlets.manager.ManagerHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHomeServlet</servlet-name>
    <url-pattern>/managerhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.proj.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeProfile</display-name>
    <servlet-name>EmployeeProfile</servlet-name>
    <servlet-class>com.proj.servlets.employee.EmployeeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfile</servlet-name>
    <url-pattern>/employeeprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerMinion</display-name>
    <servlet-name>ManagerMinion</servlet-name>
    <servlet-class>com.proj.servlets.manager.ManagerMinion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerMinion</servlet-name>
    <url-pattern>/managerminion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeServlet</display-name>
    <servlet-name>GetEmployeeServlet</servlet-name>
    <servlet-class>com.proj.servlets.manager.req.GetEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeServlet</servlet-name>
    <url-pattern>/getemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRequestServlet</display-name>
    <servlet-name>UpdateRequestServlet</servlet-name>
    <servlet-class>com.proj.servlets.manager.UpdateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequestServlet</servlet-name>
    <url-pattern>/updaterequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.proj.servlets.employee.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/updateemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeePendingRequestServlet</display-name>
    <servlet-name>EmployeePendingRequestServlet</servlet-name>
    <servlet-class>com.proj.servlets.employee.req.EmployeePendingRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePendingRequestServlet</servlet-name>
    <url-pattern>/employeependingReqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeResolvedRequestServlet</display-name>
    <servlet-name>EmployeeResolvedRequestServlet</servlet-name>
    <servlet-class>com.proj.servlets.employee.req.EmployeeResolvedRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeResolvedRequestServlet</servlet-name>
    <url-pattern>/employeeresolvedReqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRequestServlet</display-name>
    <servlet-name>EmployeeRequestServlet</servlet-name>
    <servlet-class>com.proj.servlets.employee.req.EmployeeRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRequestServlet</servlet-name>
    <url-pattern>/employeeallReqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpenseServlet</display-name>
    <servlet-name>ExpenseServlet</servlet-name>
    <servlet-class>com.proj.servlets.manager.ExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpenseServlet</servlet-name>
    <url-pattern>/expense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertificationServlet</display-name>
    <servlet-name>CertificationServlet</servlet-name>
    <servlet-class>com.proj.servlets.expense.CertificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertificationServlet</servlet-name>
    <url-pattern>/certification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterviewExpenseServlet</display-name>
    <servlet-name>InterviewExpenseServlet</servlet-name>
    <servlet-class>com.proj.servlets.expense.InterviewExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterviewExpenseServlet</servlet-name>
    <url-pattern>/interviewexpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TravelExpenseServlet</display-name>
    <servlet-name>TravelExpenseServlet</servlet-name>
    <servlet-class>com.proj.servlets.expense.TravelExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TravelExpenseServlet</servlet-name>
    <url-pattern>/travelexpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientRelocationServlet</display-name>
    <servlet-name>ClientRelocationServlet</servlet-name>
    <servlet-class>com.proj.servlets.expense.ClientRelocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientRelocationServlet</servlet-name>
    <url-pattern>/clientrelocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainingRelocationServlet</display-name>
    <servlet-name>TrainingRelocationServlet</servlet-name>
    <servlet-class>com.proj.servlets.expense.TrainingRelocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainingRelocationServlet</servlet-name>
    <url-pattern>/trainingrelocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesExpenseServlet</display-name>
    <servlet-name>SalesExpenseServlet</servlet-name>
    <servlet-class>com.proj.servlets.expense.SalesExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesExpenseServlet</servlet-name>
    <url-pattern>/salesexpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherServlet</display-name>
    <servlet-name>OtherServlet</servlet-name>
    <servlet-class>com.proj.servlets.expense.OtherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherServlet</servlet-name>
    <url-pattern>/other</url-pattern>
  </servlet-mapping>
</web-app>